#!/bin/sh
curl -X PUT -H 'Content-Type: application/yaml' --data '
apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: resiniotest
spec:
  minReadySeconds: 10
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  replicas: 6
  template:
    metadata:
      name: resiniotest
      labels:
        app: resiniotest
        tier: nodejsapp
    spec:
      containers:
      - name: resiniotest-<%= build_tag %>
        image: gsnegovskiy/resin.io_test:<%= build_tag %>
        ports:
        - containerPort: 8088
        readinessProbe:
          httpGet:
            path: /health.html
            port: 8080
          periodSeconds: 1
          initialDelaySeconds: 4
          successThreshold: 1
          failureThreshold: 2
        livenessProbe:
          httpGet:
            path: /health.html
            port: 8080
          initialDelaySeconds: 4
          periodSeconds: 1
          successThreshold: 1
          failureThreshold: 2
        lifecycle:
          preStop:
            exec:
              command: ["/bin/sh", "-c", "rm -f /usr/src/app/static/health.html && sleep 10"]
      imagePullSecrets:
      - name: regsecret
' http://127.0.0.1:8080/apis/apps/v1beta1/namespaces/default/deployments/resiniotest
